<div class=" container">
    <div><a href="/liste" class="my-2 text-secondary"><i class="fa-solid fa-arrow-left"></i> Retourner aux produits</a></div>

      <div class="row">
        <div class="col-8">
          <img src="../../../assets/images/asus_vivobook17.png" alt="vivobook"  class="m-3 rounded shadow-sm" style="object-fit: cover; object-position: center; height: 400px; width: 100%;">            
        </div>
        <div class="col-4">
            <div class="bg-white m-3 rounded shadow-sm" style="height: 400px;"> 
                <div class="d-flex justify-content-between">
                    <h1>Hotel NeoCity</h1>
                    <div class="star-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></div>
                  </div>
            
            <strong><i class="fa-solid fa-location-dot"></i> 58 rue de saint-martin.</strong>
            </div>
        </div>

      </div>

    <div class="container my-3">
      <div class="bg-light rounded-lg p-2 my-2 shadow-sm  border">
        <p> Situé en bord de mer, au cœur de Paris, l'établissement 4 étoiles Hotel NeoCity propose des chambres et des suites, une connexion Wi-Fi gratuite ainsi qu'un parking. 
          <br>Sur place, vous trouverez 2 restaurants : le bistrot Le Jardin gourmand et le restaurant gastronomique L'audace, doté d'une terrasse avec vue sur la baie. L'établissement possède un parking privé. Les réservations doivent être effectuées avant l'arrivée.</p>
          <div class="my-3">
            <h5>Points forts:</h5>
            <br>
            <span class="border rounded m-1 p-2"><i class="fa-solid fa-location-dot"></i> Position idéal</span>
            <span class="border rounded m-1 p-2"><i class="fas fa-coffee"></i> Petit-déjeuné</span>
            <span class="border rounded m-1 p-2"><i class="fas fa-car"></i> Parking</span>
            <span class="border rounded m-1 p-2"><i class="fa-solid fa-wifi"></i> Wifi inclus</span>
            <span class="border rounded m-1 p-2"><i class="fa-solid fa-hotel"></i> Réception 24h/24</span>
          </div>
        </div>
  
  
      <h2>Informations</h2>
      <p>Quelques informations.</p>     
  
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Catégorie</th>
          <th>Nombre de lits</th>
          <th>Prix</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>M1/td>
          <td>M1</td>
          <td>85 €</td>
          <td class="text-right"><button type="button" class="btn btn-primary">Réserver</button></td>
        </tr>
        <tr>
          <td>Confort</td>
          <td>M2</td>
          <td>120 €</td>
          <td  class="text-right"><button type="button" class="btn btn-primary">Réserver</button></td>
        </tr>
        <tr>
          <td>Premium</td>
          <td>M3</td>
          <td>170 €</td>
          <td  class="text-right"><button type="button" class="btn btn-primary">Réserver</button></td>
        </tr>
        <tr>
          <td>Premium</td>
          <td>M4</td>
          <td>170 €</td>
          <td  class="text-right"><button type="button" class="btn btn-primary">Réserver</button></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>