       <footer class="pt-3 bg-white mt-4 inset-shadow" style="margin-bottom:0">
            <div class="container">
            <div class="row">
                <div class="col-6 col-md">
                  <ul class="list-unstyled text-small">
                    <li><a class="text-muted" style="text-decoration: none;" href="liste/1">Ordinateur de bureau</a></li>
                    <li><a class="text-muted" style="text-decoration: none;" href="liste/2">Ordinateur portable</a></li>
                    <li><a class="text-muted" style="text-decoration: none;" href="liste/3">Smartphone</a></li>
                    <li><a class="text-muted" style="text-decoration: none;" href="liste/1">Tablette</a></li>
                    <li><a class="text-muted" style="text-decoration: none;" href="liste/1">Ecran</a></li>
                    <li><a class="text-muted" style="text-decoration: none;" href="liste/1">Objets connectés</a></li>
                    <li><a class="text-muted" style="text-decoration: none;" href="liste/1">Accessoire</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md">
                  <ul class="list-unstyled text-small">
                    <li><a class="text-muted" style="text-decoration: none;" href="#">Aide (FAQ)</a></li>
                    <li><a class="text-muted" style="text-decoration: none;" href="#">Contactez-nous</a></li>
                    <li><a class="text-muted" style="text-decoration: none;" href="#">Mentions legal</a></li>
                    <li><a class="text-muted" style="text-decoration: none;" href="#">Conditions générales</a></li>
                    <li><a class="text-muted" style="text-decoration: none;" href="#">Sécurité de vos données</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md">
                  <ul class="list-unstyled text-small">
                    <li><a class="text-muted" style="text-decoration: none;" href="#">Presse</a></li>
                    <li><a class="text-muted" style="text-decoration: none;" href="#">Emploie</a></li>
                  </ul>
                </div>
              </div>
              <div class="text-center text-secondary montserrat">&copy; 2024 - GOOD&TECH</div>
            </div>
          </footer>  