<div class="container">
    <h1 class="text-center diviseur  m-3">{{categorie.nomCategorie}}</h1>
    <div class="text-center m-1">{{categorie.description}}</div>
        <div class="d-flex flex-wrap">
            <div class="p-3 col-sm-6 col-md-4">
                <div class="card p-3 w-100 h-100">
                    <h4><i class="fa-solid fa-sliders"></i> Filtrer</h4>
                    <span>Par Nom ou Marque</span>
                    <input type="text" class="form-control my-2" id="searchname" placeholder="Titre" [(ngModel)]="searchname">
                    <span>Par Avis</span>
                    <select class="form-select my-2" aria-label="avis"  [(ngModel)]="searchnote">
                        <option value="0"selected>Sélectionnez une note</option>
                        <option value="1">Au minimum 1/5 - Mauvais </option>
                        <option value="2">Au minimum 2/5 - Décevant</option>
                        <option value="3">Au minimum 3/5 - Correct</option>
                        <option value="4">Au minimum 4/5 - Bon</option>
                        <option value="5">Au minimum 5/5 - Très bon</option>
                      </select>
                      <span>Par Prix minimum</span>
                      <input type="number" class="form-control my-2" id="searchprixmin" placeholder="Prix minimum" [(ngModel)]="searchprixmin" min="0">
                      <span>Par Prix maximum</span>
                      <input type="number" class="form-control my-2" id="searchprixmax" placeholder="Prix maximum" [(ngModel)]="searchprixmax" min="1">
                    <button (click)=search() class="btn btn-outline-success w-100 my-1">Rechercher</button>
                </div>
            </div>
            <div class="p-3 col-sm-6 col-md-4" *ngFor="let x of listeArticle">

                <app-card-produit [article]="x"></app-card-produit>                 
            </div>
        </div>
 </div>

                